<table class="table is-narrow">
    <tbody>
        <tr>
            <th>사건번호</th>
            <td class="has-text-weight-semibold">{{ ruling.case_number }}</td>
        </tr>
        <tr>
            <th>제목</th>
            <td>{{ ruling.case_title }}</td>
        </tr>
        <tr>
            <th>법원</th>
            <td>{{ ruling.court_name }}</td>
        </tr>
        <tr>
            <th>판결유형</th>
            <td>{{ ruling.ruling_type }}</td>
        </tr>
        <tr>
            <th>사건유형</th>
            <td>{{ ruling.case_type }}</td>
        </tr>
        <tr>
            <th>사고질병구분</th>
            <td>{{ ruling.issue_category }}</td>
        </tr>
        <tr>
            <th>연관사건</th>
            <td>{{ ruling.related_case }}</td>
        </tr>
    </tbody>
</table>
