<table class="table is-narrow">
    <tbody>
        <tr> 
            <th>질병코드</th>
            <td><textarea name="disease_code" class="textarea p-1" style="resize: none; height: 2rem" rows="1" maxlength="255" {% if readonly %}readonly{% endif %}>{{ ruling.disease_code }}</textarea></td>
        </tr>
        <tr>
            <th>업무환경</th>
            <td><textarea name="working_condition" class="textarea p-1" rows="3" {% if readonly %}readonly style="resize: none"{% endif %}>{{ ruling.working_condition }}</textarea></td>
        </tr>
        <tr>
            <th>상당인과관계</th>
            <td><textarea name="causality" class="textarea p-1" rows="3" {% if readonly %}readonly style="resize: none"{% endif %}>{{ ruling.causality }}</textarea></td>
        </tr>
    </tbody>
</table>