<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
    <title>{% block title %}산재보험 판례 판결문 조회 서비스{% endblock %}</title>
    <meta name="description" content="{% block description %}산재보험 판례 판결문 조회 서비스{% endblock %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.2/css/bulma.min.css">
    {% block javascript %}{% endblock %}
</head>

<body>
    {% include "./base/navbar.html" %}

    <div class="content p-3">
        {% block content %}{% endblock %}
    </div>
</body>