<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
    <title>판례 상세</title>
    <meta name="description" content="산재보험 판례 판결문 상세">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.2/css/bulma.min.css">
  </head>
  <body>
    {% if ruling %}
    <div>
        <table class="table">
            <tbody>
                <tr> 
                    <th>사건번호</th>
                    <td class="has-text-weight-semibold">{{ ruling.case_number }}</td>
                </tr> 
                <tr> 
                    <th>제목</th>
                    <td>{{ ruling.case_title }}</td>
                </tr> 
                <tr> 
                    <th>법원</th>
                    <td>{{ ruling.court_name }}</td>
                </tr> 
                <tr> 
                    <th>판결유형</th>
                    <td>{{ ruling.ruling_type }}</td>
                </tr> 
                <tr> 
                    <th>사건유형</th>
                    <td>{{ ruling.case_type }}</td>
                </tr> 
                <tr> 
                    <th>사고질병구분</th>
                    <td>{{ ruling.issue_category }}</td>
                </tr> 
                <tr> 
                    <th>연관사건</th>
                    <td>{{ ruling.related_case }}</td>
                </tr>
                <tr> 
                    <th>질병코드</th>
                    <td>{{ ruling.disease_code }}</td>
                </tr>
                <tr> 
                    <th>질병명</th>
                    <td>{{ ruling.disease_name }}</td>
                </tr>
            </tbody>
        </table>
        <div>
            <textarea class="textarea" rows="10" readonly>
                {{ ruling.ruling_text }}
            </textarea>
        </div>
    </div>
    {% endif %}
  </body>
</html>