{% extends "./base.html" %}

{% block title %}판례 상세{% endblock %}
{% block description %}산재보험 판례 판결문 상세{% endblock %}

{% block content %}
{% if ruling %}
<!-- 상단 메뉴 -->
<h1 class="has-text-centered has-background-white pt-1 pb-2 m-0" style="position: sticky; top: 0; z-index: 1">판결문 상세보기</h1>
<div class="has-text-right py-1" style="position: sticky; top: 0; z-index: 2">
    <a class="button is-light" href="..">목록으로</a>
    <a class="button is-info" href="edit">편집하기</a>
</div>

<!-- 중간 메타데이터 -->
<div class="columns has-background-white">
    <div class="column is-one-third">
        {% include "./detail/case-info-readonly.html" %}
    </div>
    <div class="column">
        {% include "./detail/case-info-editable.html" with readonly=True %}
    </div>
</div>

<!-- 하단 판결문 -->
{% include "./detail/case-info-text.html" %}
{% endif %}
{% endblock %}