{% extends "./base.html" %}

{% block title %}판례 정보 편집{% endblock %}
{% block description %}산재보험 판례 판결문 정보 편집{% endblock %}

{% block content %}
{% if ruling %}
<form action="{% url 'case_app:submit' ruling.id %}" method="post">
{% csrf_token %}

    <!-- 상단 메뉴 -->
    <h1 class="has-text-centered has-background-white pt-1 pb-2 m-0" style="position: sticky; top: 0; z-index: 1">판결문 정보 편집하기</h1>
    {% if error_message %}
    <div class="has-text-centered has-text-danger-dark">{{ error_message }}</div>
    {% endif %}
    <div class="has-text-right py-1" style="position: sticky; top: 0; z-index: 2">
        <a class="button is-light" href="..">취소</a>
        <input type="submit" class="button is-info" value="저장">
    </div>

    <!-- 중간 메타데이터 -->
    <div class="columns is-mobile has-background-white" style="position: sticky; top: 2.75rem">
        <div class="column is-one-third">
            {% include "./detail/case-info-readonly.html" %}
        </div>
        <div class="column">
            {% include "./detail/case-info-editable.html" with readonly=False %}
        </div>
    </div>

    <!-- 하단 판결문 -->
    {% include "./detail/case-info-text.html" %}

</form>
{% endif %}
{% endblock %}