{% extends "./base.html" %}

{% block title %}판례 목록{% endblock %}
{% block description %}산재보험 판례 판결문 목록{% endblock %}

{% block content %}
<h1 class="has-text-centered">판결문 목록</h1>
<div class="is-flex is-justify-content-space-between">
    <span class="tag">조회 사건 개수: {{ count }}건 </span>
    <a class="has-text-right" href="https://drive.google.com/drive/folders/1gKOPq0uhw_P0eIyBnG9eYKw3MhMC1mUE" target="_blank">파일 다운로드 (임시)</a>
</div>
<div>
    {% if ruling_list %}
    <table class="table">
        <thead>
            <tr>
                <th style="min-width:50px;" ><a href="?page=1&sort=-id">-</a>#{% if sort == '-id' %}(-){% elif sort == 'id' %}(+){% endif %}<a href="?page=1&sort=id">+</a></th>
                <th style="min-width:140px;" ><a href="?page=1&sort=-case_number">-</a>사건번호{% if sort == '-case_number' %}(-){% elif sort == 'case_number' %}(+){% endif %}<a href="?page=1&sort=case_number">+</a></th>
                <th><a href="?page=1&sort=-case_title">-</a>제목{% if sort == '-case_title' %}(-){% elif sort == 'case_title' %}(+){% endif %}<a href="?page=1&sort=case_title">+</a></th>
                <th><a href="?page=1&sort=-court_name">-</a>법원{% if sort == '-court_name' %}(-){% elif sort == 'court_name' %}(+){% endif %}<a href="?page=1&sort=court_name">+</a></th>
                <th style="min-width:140px;" ><a href="?page=1&sort=-ruling_type">-</a>판결유형{% if sort == '-ruling_type' %}(-){% elif sort == 'ruling_type' %}(+){% endif %}<a href="?page=1&sort=ruling_type">+</a></th>
                <th style="min-width:140px;" ><a href="?page=1&sort=-case_type">-</a>사건유형{% if sort == '-case_type' %}(-){% elif sort == 'case_type' %}(+){% endif %}<a href="?page=1&sort=case_type">+</a></th>
                <th style="min-width:140px;" ><a href="?page=1&sort=-issue_category">-</a>사고질병구분{% if sort == '-issue_category' %}(-){% elif sort == 'issue_category' %}(+){% endif %}<a href="?page=1&sort=issue_category">+</a></th>
                <th>연관사건</th>
                <th>질병코드</th>
            </tr>
        </thead>
        <tbody>
            {% for ruling in ruling_list %}
            <tr>
                <th>{{ ruling.id }}</th>
                <td>
                    <a href="/rulings/{{ ruling.id }}">{{ ruling.case_number }}</a>
                </td>
                <td>{{ ruling.case_title }}</td>
                <td>{{ ruling.court_name }}</td>
                <td>{{ ruling.ruling_type }}</td>
                <td>{{ ruling.case_type }}</td>
                <td>{{ ruling.issue_category }}</td>
                <td>{{ ruling.related_case }}</td>
                <td>{{ ruling.disease_code }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% endif %}
</div>
<nav class="pagination is-centered"s role="navigation" aria-label="페이지 이동">
    <ul class="pagination-list">
        {% if ruling_list.has_previous %}
        <li><a href="?page=1&sort={{ sort }}" class="pagination-link">1</a></li>
            {% if ruling_list.number > 3 %}
            <li><span class="pagination-ellipsis">&hellip;</span></li>
            {% endif %}
            {% if ruling_list.number > 2 %}
            <li><a href="?page={{ ruling_list.previous_page_number }}&sort={{ sort }}" class="pagination-link">{{ ruling_list.previous_page_number }}</a></li>
            {% endif %}
        {% endif %}
        <li>
            <a class="pagination-link is-current" aria-label="현재 페이지">{{ ruling_list.number }}</a>
        </li>
        {% if ruling_list.has_next %}
            {% if ruling_list.number < ruling_list.paginator.num_pages|add:"-1" %}
            <li><a href="?page={{ ruling_list.next_page_number }}&sort={{ sort }}" class="pagination-link">{{ ruling_list.next_page_number }}</a></li>
            {% endif %}
            {% if ruling_list.number < ruling_list.paginator.num_pages|add:"-2" %}
            <li><span class="pagination-ellipsis">&hellip;</span></li>
            {% endif %}
        <li><a href="?page={{ ruling_list.paginator.num_pages }}&sort={{ sort }}" class="pagination-link">{{ ruling_list.paginator.num_pages }}</a></li>
        {% endif %}
    </ul>
</nav>
{% endblock %}
